@import '../../common.scss';
@import '../../theme.scss';

.login__wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  @include flex-center;
  flex-direction: column;
}

.login__logo {
  width: 150px;
}

.login__description {
  width: 10em;
  text-align: center;
  line-height: 2em;
}

.login__button {
  margin: 20px 0;
  width: 250px;
  font-size: 16px;
  height: 40px;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  background-color: $theme-color-primary;
  color: white;
}
