$mainColor: #15B2B3;
$backgroundColor: #252831;

header {
	position: fixed;
	width: 100%;
	background-color: #252831;
	.inner {
		position: relative;
		height: 120px;
		width: 1100px;
		margin: 0 auto;
		background-color: orange;
		.logo{
			display: block;
			img{
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
		.sub-menu {
			.menu {
				.mypage {
					
				}
				.chatting {

				}
			}
		}
	}
}