@import '../../theme';

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .booked-title {
    @include text($color: $bgColor);
    margin: 10px;
    .booked-title-bold {
      font-weight: bold;
    }
  }

  .booked-container {
    @include basic-shadow;
    width: 85%;
  }

  .make-book-button {
    height: 130px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: $mainColor;
    border: 0px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include basic-shadow;
    .text {
      @include text(20px, white);
      font-weight: bold;
      margin-left: 5%;
    }
    .icon {
      margin-left: 10px;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        object-fit: contain;
      }
    }
  }
}

.rooms-header {
  display: flex;
  width: 88%;
  justify-content: space-between;
  align-items: center;

  &__rooms-number {
    color: rgb(160, 160, 160);
    font-weight: bold;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__filter-btn {
    border: 1px solid #fff;
    background-color: rgb(168, 168, 168);
    border-radius: 10px;
    color: white;
    height: 27px;
    width: 80px;
    font-weight: bold;
    &--active {
      background-color: $mainColor;
    }
  }

  &__sort-btn {
    border-radius: 10px;
    height: 25px;
    padding: 0 2px;
  }
}

.room-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
