@import '../../theme';

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .booked-title {
    @include text($color: $bgColor);
    margin: 10px;
    .booked-title-bold {
      font-weight: bold;
    }
  }

  .booked-container {
    @include basic-shadow;
    width: 85%;
  }

  .make-book-button {
    height: 130px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: $mainColor;
    border: 0px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include basic-shadow;
    .text {
      @include text(20px, white);
      font-weight: bold;
      margin-left: 5%;
    }
    .icon {
      margin-left: 10px;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        object-fit: contain;
      }
    }
  }
}

.filter-btn {
  border: 1px solid black;
  background-color: #fff;

  &--active {
    background-color: $mainColor;
  }
}

.room-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
