@import '../../theme';

.modal {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);

  .section {
    height: 500px;
    width: 350px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      .img1 {
        height: 70px;
        width: 70px;
      }
      .img2 {
        border: 10px;
        height: 50px;
        width: 50px;
        object-fit: cover;
        margin-bottom: 10px;
      }
      .input-room {
        border-radius: 10px;
        width: 200px;
        height: 30px;
        margin: 30px;
        text-align: center;
        border: 0px;
        background-color: #ececec;
      }
      .select-place {
        height: 100px;
        width: 200px;
        border-top: 0.6px solid $mainColor;
        border-bottom: 0.6px solid $mainColor;
        display: flex;
        align-items: center;

        div {
          flex: 1;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .split {
          position: absolute;
          right: 563px;
        }
        .direction {
          .dummy {
            margin-top: 37px;
          }
        }
      }
      .select-menu {
        .curMenu {
          display: flex;
          margin-top: 15px;
          margin-bottom: 10px;
          div {
            flex: 1;
            width: 70px;
            text-align: center;
          }
        }
        button {
          border: 0px;
          width: 100px;
        }
      }
      .selected-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 40px;
        background-color: $mainColor;
        .curSelectMenu {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 350px;
          div {
            text-align: center;
            background-color: white;
            height: 30px;
            line-height: 34px;
            width: 70px;
            margin: 3px;
            border-radius: 10px;
            @include text();
            font-weight: bold;
          }
        }
      }
      .explain {
        font-size: 14px;
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      .finish {
        background-color: $mainColor;
        margin: 20px;
        border: 0px;
        border-radius: 30px;
        cursor: pointer;
        line-height: 50px;
        height: 50px;
        width: 80px;
        @include text($color: white);
        font-weight: bold;
      }
    }
  }
}

.unselected {
  color: rgba(0, 0, 0, 0.2);
  /*
  color: transparent;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 1)
  );
  -webkit-background-clip: text;
  */
}
